<div class="clear"></div>
<div class="footer">
    <div class="footer-top">
        <div class="footer-t">
            <div class="footer-top-l">
                <ul>
                    <li id="footer-li">上海斯涵福信息科技有限公司</li>
                    <li>电话：021-50663326</li>
                    <li>邮箱：company@sihanfu.com</li>
                    <li>地址：上海市杨浦区国康路100号上海国际设计中心西楼1504室</li>
                </ul>
            </div>
            <div class="footer-top-cen"></div>
            <div class="footer-top-r">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME13_19.png">

                <img src="__PUBLIC__/Home/images/sihangfu-HOME012_28.png"><br/>
                <span class="index-span12">扫一扫关注公众号</span><br/>
                <span id="index-span11">扫一扫关注产品</span>
            </div>
            <a href="javascript:;"><img id="footer-img1" src="__PUBLIC__/Home/images/sihangfu-HOME013_30.png"></a>
            <a href="javascript:;"><img id="footer-img2" src="__PUBLIC__/Home/images/sihangfu-HOME014_30.png"></a>
        </div>

    </div>
    <div class="clear">  </div>
    <div class="footer-bom">
        <div class="footer-bom-w"> © 上海斯涵福信息科技有限公司　版权所有　　沪ICP备11022418号-1</div>
    </div>
</div>
<!-- <div id="footer">

  <div id="footer-l">
      <ul>
          <li id="footer-li">上海斯涵福信息科技有限公司</li>
          <li>电话：021-50663326</li>
          <li>邮箱：company@sihanfu.com</li>
          <li>地址：上海市杨浦区国康路100号上海国际设计中心西楼1504室</li>
      </ul>

  </div>
  <div id="footer-r">
      <img src="./images/sihangfu-HOME13_19.png">

      <img src="./images/sihangfu-HOME012_28.png"><br/>
      <a>扫一扫关注公众号</a>
      <span id="index-span11">扫一扫关注产品</span>
  </div>
  <!--                  <div id="footer-l"></div>
                    <div id="footer-r"></div>-->


<!--
    <img id="footer-img1" src="./images/sihangfu-HOME013_30.png">
    <img id="footer-img2" src="./images/sihangfu-HOME014_30.png">


</div>
    <div id="footers">
        <div id="footers-d">© 上海斯涵福信息科技有限公司　版权所有　　沪ICP备11022418号-1</div>
    </div> -->


<script language="javascript" type="text/javascript">
    $(function(){
        jQuery("#index-content2-pic").slide({titCell:"#btn ul",mainCell:".slide_div ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:3});

    })

</script>

</body>
</html>