<include file="Public:header" />

        <div id="search"><a href="javascript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
        </div>

          <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="contact-center">
             <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="contact-center-title">关于我们<br/>
                &nbsp; &nbsp; &nbsp;  <span>/ ABOUT US</span>
            </div>
        </div>
        
        <div class="company-content">
            <div class="contact-content-top">
                <div id="help-title-l">
                    <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                    首页 ><a href="{:U('Index/aboutCompany')}" style="color:#333333;">关于我们</a> ><span style="color:#F08200;">联系方式</span>
                </div>
                <div id="help-title-r">
                    <ul>
                        <li><a style="border-bottom:2px solid #F08200;"  href="{:U('Index/aboutCompany')}">公司介绍</a></li>
                        <li><a  href="{:U('Index/aboutContact')}">联系方式</a></li>
                        <li><a href="{:U('Index/aboutZhaoXian')}">招贤纳士</a></li>

                    </ul>
                </div>
            </div>
            <div class="company-bom">
                <div class="company-bom1">
                    <div class="company-bom1-img"></div>
                    <span>上海斯涵福信息科技有限公司</span>
                </div>
                <div class="company-bom2">
                    <span class="company-bom-span">
                        本公司成立于2015年11月。
                        是一家创新型信息科技公司。
                        公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发、运维系统设计及开发，立志成为工程信息化领先企业。
                    </span><br/><br/>
                    <span class="company-bom-span">
                        公司主创人员皆为同济土木工程学院以及经管学院校友，现有博士、高级工程师1名，硕士、工程师3名。
                        公司主创人员从事过大量的大型工程项目的项目管理、设计、施工工作，具有丰富的工程项目管理经验，应用平台开发经验。
                    </span><br/><br/>
                    <span class="company-bom-span">
                        企业正起步，创业存在许多艰难，公司愿与员工一同成长，在完成企业增值的过程中，给予员工足够的归属感，
                        并让员工充分理解自身的价值，与员工一同积累财富。
                    </span>
                </div>
                  <div class="company-bom3">
                <img src="__PUBLIC__/Home/images/sihangfu-about-us-company_03.png">
                  <img src="__PUBLIC__/Home/images/sihangfu-about-us-company1_03.png">
            </div>
            </div>
            
          
        </div>












<include file="Public:footer" />