<include file="Public:header" />

            <div id="search"><a href="javascript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
        </div>
       
              
            

        <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="contact-center">
            <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="contact-center-title">关于我们<br/>
                &nbsp; &nbsp; &nbsp;  <span>/ ABOUT US</span>
            </div>
        </div>
        
        <div class="contact-zhanxian">
            <div class="contact-content-top">
                <div id="help-title-l">
                    <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                    首页 ><a href="{:U('Index/aboutCompany')}" style="color:#333333;">关于我们</a> ><span style="color:#F08200;">招贤纳士</span>
                </div>
                <div id="help-title-r">
                    <ul>
                        <li><a  href="{:U('Index/aboutCompany')}">公司介绍</a></li>
                        <li><a  href="{:U('Index/aboutContact')}">联系方式</a></li>
                        <li><a style="border-bottom:2px solid #F08200;" href="{:U('Index/aboutZhaoXian')}">招贤纳士</a></li>

                    </ul>
                </div>
            </div>
            <div class="contact-zhaoxian-content">
                <div class="contact-zhaoxian-con">
                    <div class="contact-zhaoxian-ti"><img src="__PUBLIC__/Home/images/sihangfu-about-zhaoxian_03.png" align="center">职位：渠道经理</div><br/>
                    <div class="zhaoxian-content">
                        <p>职位描述：</p>
                        <ul>
                            <li>1、负责渠道的建设和客户的开发。完成公司下达的渠道开发和客户开发的任务；通过对渠道的寻找与开拓，达成公司渠道业务指标。</li>
                            <li>2、负责与银行、证券、保险、信托以及第三方理财机构或个人建立合作关系、持续服务。</li>
                            <li>3、负责公司的金融产品在各大金融机构的推广与宣传。</li>
                            <li>4、负责销售渠道的管理与维护。</li>
                            <li>5、收集并统计市场信息和客户建议，并及时整理信息，为公司提供合理的建议；负责收集金融市场信息和客户建议，向客户传递公司理财产品和服务信息。</li>

                        </ul>
                        <p>任职要求：</p>
                        <ul>
                            <li>1、本科以上学历，年龄35岁以下，银行、基金、保险、证券/期货、信托、第三方财富等相关金融产品销售等相关金融行业的工作经历。</li>
                            <li>2、有成熟的渠道资源，能够独立地拓展基金营销渠道、完成基金募集工作。</li>
                            <li>3、在业内有良好的人脉关系，具有良好的组织沟通能力和执行能力。</li>
                            <li>4、具有较强的市场开拓能力和营销策划能力，具有较强的公关、谈判能力。</li>                          
                        </ul>
                    </div>
                </div>
                <div class="contact-zhaoxian-con">
                    <div class="contact-zhaoxian-ti"><img src="__PUBLIC__/Home/images/sihangfu-about-zhaoxian_03.png" align="center">职位：渠道经理</div><br/>
                    <div class="zhaoxian-content">
                        <p>职位描述：</p>
                        <ul>
                            <li>1、负责渠道的建设和客户的开发。完成公司下达的渠道开发和客户开发的任务；通过对渠道的寻找与开拓，达成公司渠道业务指标。</li>
                            <li>2、负责与银行、证券、保险、信托以及第三方理财机构或个人建立合作关系、持续服务。</li>
                            <li>3、负责公司的金融产品在各大金融机构的推广与宣传。</li>
                            <li>4、负责销售渠道的管理与维护。</li>
                            <li>5、收集并统计市场信息和客户建议，并及时整理信息，为公司提供合理的建议；负责收集金融市场信息和客户建议，向客户传递公司理财产品和服务信息。</li>

                        </ul>
                        <p>任职要求：</p>
                        <ul>
                            <li>1、本科以上学历，年龄35岁以下，银行、基金、保险、证券/期货、信托、第三方财富等相关金融产品销售等相关金融行业的工作经历。</li>
                            <li>2、有成熟的渠道资源，能够独立地拓展基金营销渠道、完成基金募集工作。</li>
                            <li>3、在业内有良好的人脉关系，具有良好的组织沟通能力和执行能力。</li>
                            <li>4、具有较强的市场开拓能力和营销策划能力，具有较强的公关、谈判能力。</li>                          
                        </ul>
                    </div>
                </div>
            </div>

        </div>
         <div class="zhaoxian-more-content">
            <div class="contact-zhaoxian-ti"><img src="__PUBLIC__/Home/images/sihangfu-about-zhaoxian_03.png" align="center">职位：渠道经理</div><br/>
                    <div class="zhaoxian-content">
                        <p>职位描述：</p>
                        <ul>
                            <li>1、负责渠道的建设和客户的开发。完成公司下达的渠道开发和客户开发的任务；通过对渠道的寻找与开拓，达成公司渠道业务指标。</li>
                            <li>2、负责与银行、证券、保险、信托以及第三方理财机构或个人建立合作关系、持续服务。</li>
                            <li>3、负责公司的金融产品在各大金融机构的推广与宣传。</li>
                            <li>4、负责销售渠道的管理与维护。</li>
                            <li>5、收集并统计市场信息和客户建议，并及时整理信息，为公司提供合理的建议；负责收集金融市场信息和客户建议，向客户传递公司理财产品和服务信息。</li>

                        </ul>
                        <p>任职要求：</p>
                        <ul>
                            <li>1、本科以上学历，年龄35岁以下，银行、基金、保险、证券/期货、信托、第三方财富等相关金融产品销售等相关金融行业的工作经历。</li>
                            <li>2、有成熟的渠道资源，能够独立地拓展基金营销渠道、完成基金募集工作。</li>
                            <li>3、在业内有良好的人脉关系，具有良好的组织沟通能力和执行能力。</li>
                            <li>4、具有较强的市场开拓能力和营销策划能力，具有较强的公关、谈判能力。</li>                          
                        </ul>
                    </div>
        </div>
        <div class="zhaoxian-more">MORE</div>
<!--        <div class="zhaoxian-more-content">
            <div class="contact-zhaoxian-ti"><img src="./images/sihangfu-about-zhaoxian_03.png" align="center">职位：渠道经理</div><br/>
                    <div class="zhaoxian-content">
                        <p>职位描述：</p>
                        <ul>
                            <li>1、负责渠道的建设和客户的开发。完成公司下达的渠道开发和客户开发的任务；通过对渠道的寻找与开拓，达成公司渠道业务指标。</li>
                            <li>2、负责与银行、证券、保险、信托以及第三方理财机构或个人建立合作关系、持续服务。</li>
                            <li>3、负责公司的金融产品在各大金融机构的推广与宣传。</li>
                            <li>4、负责销售渠道的管理与维护。</li>
                            <li>5、收集并统计市场信息和客户建议，并及时整理信息，为公司提供合理的建议；负责收集金融市场信息和客户建议，向客户传递公司理财产品和服务信息。</li>

                        </ul>
                        <p>任职要求：</p>
                        <ul>
                            <li>1、本科以上学历，年龄35岁以下，银行、基金、保险、证券/期货、信托、第三方财富等相关金融产品销售等相关金融行业的工作经历。</li>
                            <li>2、有成熟的渠道资源，能够独立地拓展基金营销渠道、完成基金募集工作。</li>
                            <li>3、在业内有良好的人脉关系，具有良好的组织沟通能力和执行能力。</li>
                            <li>4、具有较强的市场开拓能力和营销策划能力，具有较强的公关、谈判能力。</li>                          
                        </ul>
                    </div>
        </div>-->
         <div class="zhaoxian-top"><a href="#"><img src="__PUBLIC__/Home/images/sihangfu-product-top_03.png"></a></div>
         <div class="zhaoxian-email">简历投至到邮箱：company@sihanfu.com</div>
        <script>
            $(".zhaoxian-more").click(function(){
                $(".zhaoxian-more-content").slideToggle("slow");
            })
        </script>
        
        
        
        
        
        
               <div class="clear"></div> 
        <div class="footer">
           <div class="footer-top">
            <div class="footer-t">
             <div class="footer-top-l">
                 <ul>
                        <li id="footer-li">上海斯涵福信息科技有限公司</li>
                        <li>电话：021-50663326</li>
                        <li>邮箱：company@sihanfu.com</li>
                        <li>地址：上海市杨浦区国康路100号上海国际设计中心西楼1504室</li>
                    </ul>
             </div>
             <div class="footer-top-cen"></div>
             <div class="footer-top-r">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME13_19.png">

                    <img src="__PUBLIC__/Home/images/sihangfu-HOME012_28.png"><br/>
                    <span class="index-span12">扫一扫关注公众号</span><br/>
                    <span id="index-span11">扫一扫关注产品</span>
                </div>
             <a href="javascript:;"><img id="footer-img1" src="__PUBLIC__/Home/images/sihangfu-HOME013_30.png"></a>
             <a href="javascript:;"><img id="footer-img2" src="__PUBLIC__/Home/images/sihangfu-HOME014_30.png"></a>
         </div>
           
    </div>
             <div class="clear">  </div>
           <div class="footer-bom">
           <div class="footer-bom-w"> © 上海斯涵福信息科技有限公司　版权所有　　沪ICP备11022418号-1</div>
        </div>
        </div>
    </body>
</html>
