<include file="Public:header" />

    <div id="search">
        <a href="javascript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
    </div>
       
             
            
 
        <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="case-center">
             <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="case-title">
                成功案例<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>/ CASE</span>
            </div>
        </div>
        <div class="case-content-title">
                <div class="case-content-l">
                     <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                     首页 ><a href="{：U('Index/caseCenter')}" style="color:#333333;">成功案例</a>><span style="color:#F08200;">案例展示</span>
                </div>
                <div class="case-content-r"><a>案例展示</a></div>
            </div>
        
        <div class="case-content-img">
            <div class="case-content-top">
                <ul>
                    <li class="li-01"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case1_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-02"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case2_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-03"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case3_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div></li>
                </ul>
            </div>
            <div class="case-content-con">
                 <ul>
                    <li class="li-01"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case4_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-02"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case5_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-03"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case6_05.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                </ul>
            </div>
            <div class="case-content-bom">
                  <ul>
                    <li class="li-01"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case7_09.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。<div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-02"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case8_09.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。<div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>                    
                    </li>
                    <li class="li-03"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case9_08.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面a。<div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>                    
                    </li>
                </ul>
                <div class="learnmore">
            </div>
              
        </div>
             <div class="case-more-content">
             <ul>
                    <li class="li-01"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case7_09.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。                        <p>斯涵福成功案例标题</p>
                     <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-02"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case8_09.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                     <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div>
                    </li>
                    <li class="li-03"><a href=""><img src="__PUBLIC__/Home/images/sihangfu-case9_08.png"></a><br/>案例描述大型设备运输路径模拟，根据相关运输路径大<br/>型设备，直观检查相关关键控制界面。
                    
                     <div class="li-title">斯涵福成功案例标题</div>
                    <div class="learnmore">
                        <p>斯涵福成功案例标题</p>
                        <div class="btn-learnmore">learn more</div>
                    </div></li>
                </ul>
           
        </div>
        <div class="case-more">
            MORE
        </div>

            <div class="case-top"><a href="#"><img src="__PUBLIC__/Home/images/sihangfu-product-top_03.png"></a></div>
        </div>
        <include file="Public:footer" />