
<include file="Public:header" />
<title>帮助中心</title>


        <div id="help-center">
              <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="help-center-span">
                
            <span id="help-span">帮助中心 </span><br/><br/>
            &nbsp;&nbsp;&nbsp;<span id="help-span1">/ HELP</span>
            </div>
       </div>
        <div id="help-title">
            <div id="help-title-l">
            <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
            首页 ><a href="helpCenter.html" style="color:#333333;">帮助中心</a> ><span style="color:#F08200;">常见问题</span>
            </div>
            <div id="help-title-r">
                <ul>
                    <li><a style="border-bottom:2px solid #F08200;" href="">常见问题</a></li>
                    <li><a href="">使用条框</a></li>
                    <li><a href="">隐私政策</a></li>
                    <li><a href="">帮助文档</a></li>
                </ul>
            </div>
        </div>
        <div id="help-content">
            <div class="help-Div">1.为什么上传模型打开后看不到模型？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            
            </div>
            <div class="help-Div">2.为什么安装了插件打开模型文件时还提示下载？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">3.为什么上传模型文件很久未转化？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">4.为什么打开一个模型进行剖切，进入其他模型也是剖切状态？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">5.为什么查看文件（夹）提示没有权限？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">6.模型有多个视图的情况下，采用哪个视图？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">7.为什么进入BIM云看不到设置模块？<img class="help-image" src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"><img class="help-imgs" src="__PUBLIC__/Home/images/sihangfu-help03_09.png" align="center">
                <div class="help-Div2">可能原因：1、您的插件没安装；2、插件版本太低；3、安装了插件在第一次打开浏览器时没允许使用插件。您可以尝试重装最新版插件，并第一次使用BIM云时点击允许插件运行。</div>
            </div>
            <div class="help-Div">8.为什么创建项目或邀请用户或上传文件提示达上限？<img src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"></div>
            <div class="help-Div">9.为什么下载文件（夹）时处于下载状态？<img src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"></div>
            <div class="help-Div">10.为什么有时查看模型时浏览器会提示网页出现问题？<img src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"></div>
            <div class="help-Div">11.为什么碰撞检测添加成功后没有显示结果？<img src="__PUBLIC__/Home/images/sihangfu-help03_13.png" align="center"></div>
            
        </div>
        <div id="help-tijiao">
            <span id="help-span2">问题反馈:</span><br/>
            <input id="email" type="text" name="name"  value="邮 箱"  onfocus="if (value =='邮 箱'){value =''}" onblur="if (value ==''){value='邮 箱'}" /><br/>
            <input id="help-qu" type="text" name="content" value="内 容"  onfocus="if (value =='内 容'){value =''}" onblur="if (value ==''){value='内 容'}" />
            <input id="help-sub" type="submit" value="提　　交"/>
        </div>
         <script language="javascript" type="text/javascript">
    
            
             $(".help-Div .help-image").click(function(){
                 $(this).hide();
                 $(this).next().show();
                 $(this).next().next().show(200).css('color','#F2A54A');;
                 $(this).parent().css('color','#F2A54A');

             });
             $(".help-Div .help-imgs").click(function(){
                 $(this).parent().css('color','#000');
                 $(this).prev().show(100);
                 $(this).hide(100);
                 $(this).next().hide(100);
             })

             
             </script>









<include file="Public:footer" />
