<include file="Public:header" />

<div id="index-center-img">
    <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>

</div>
<script>
    $("#search").click(function(){
        $(".search-k input").slideToggle("fast");
    })

</script>
    <div class="content">
        <div id="index-content">
            <div id="index-title">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME00_03.png">
                <span id="index-span2">/&nbsp;关于我们</span>
            </div>
            <div id="index-pro">
                本公司成立于2015年11月。是一家创新型信息科技公司。公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发、运维系统设计开发，立志成为
                工程信息化领先企业。公司主创人员皆为统计土木工程学院以及经管学院校友，现有博士、高级工程师1名、硕士、工程师3名...
            </div>
            <div id="index-learn">
                <a href="javascript;"></a>
            </div>
        </div>
        <div id="index-content1">
            <div id="index-content1-l"><img src="__PUBLIC__/Home/images/sihangfu-HOME10_11.png"></div>
            <div id="index-content1-m">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME001_03.png"><span id="index-span3">/&nbsp;产品</span>
                <div id="index-product">BIM是一种工程信息化的手段<br/> BIM作为一种工程信息化的手段，能够帮助工程行业从粗放式的管理向精细化转变，从而带来更大的经济效
                益，并且减少浪费对环境保护亦起着积极的作用。BIM将工程信息化，赋予了实体构件数字资产...
                </div>
                <div id="index-content1-img">
                    <a href="javascript;"></a>
                </div>
            </div> 
            <div id="index-content1-r">
                <a class="index-content-r-bg1" href=""></a>
                <a id="index-content-r-bg" href=""></a>
            
                
                
            </div>
        </div>
        <div id="index-content2">
            <div class="index-content2-title">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME002_07.png">
                <span id="index-span4">/&nbsp;案例</span>
            </div>
            
            <div id="index-content2-pic">
                <div class="slide_div">
<!--                <img id="index-left" src="./images/nimg92_1_1.png">-->
                <ul>
                    <li>
                    <div class="pic-img">
                             <img src="__PUBLIC__/Home/images/sihangfu-HOME10_18.png"><br/>
                        <div class="index-pic-content">
                            <p>案例标题</p>
                            <div>案例文字描述公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发...</div>
                            <div class="pic-jiantou"><img src="__PUBLIC__/Home/images/sihangfu-HOME14_11_1.png"></div>
                             <!--<div class="pic-jiantou-or"><img src="./images/sihangfu-HOME14or_11.png"></div>-->
                            
                        </div>        
                       
                     </div>
                    </li>
                    <li>
                        <div class="pic-img">
                            <img src="__PUBLIC__/Home/images/sihangfu-HOME10_20.png"><br/>
                        <div class="index-pic-content">
                            <p>案例标题</p>
                            <div>案例文字描述公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发...</div>
                            <div class="pic-jiantou"><img src="__PUBLIC__/Home/images/sihangfu-HOME14_11_1.png"></div>
                             <!--<div class="pic-jiantou-or"><img src="./images/sihangfu-HOME14or_11.png"></div>-->
                            
                        </div>        
                       
                     </div>
                    </li>
                    <li>
                        <div class="pic-img">
                           <img src="__PUBLIC__/Home/images/sihangfu-HOME8_19.png"><br/>
                        <div class="index-pic-content">
                            <p>案例标题</p>
                            <div>案例文字描述公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发...</div>
                            <div class="pic-jiantou"><img src="__PUBLIC__/Home/images/sihangfu-HOME14_11_1.png"></div>
                             <!--<div class="pic-jiantou-or"><img src="./images/sihangfu-HOME14or_11.png"></div>-->
                            
                        </div>        
                       
                     </div>
                    </li>
                    <li>
                       <div class="pic-img">
                           <img src="__PUBLIC__/Home/images/sihangfu-HOME10_20.png"><br/>
                        <div class="index-pic-content">
                            <p>案例标题</p>
                            <div>案例文字描述公司的主营业务与工程行业相关，如BIM建模及咨询工作、工程信息平台设计及开发...</div>
                            <div class="pic-jiantou"><img src="__PUBLIC__/Home/images/sihangfu-HOME14_11_1.png"></div>
                             <!--<div class="pic-jiantou-or"><img src="./images/sihangfu-HOME14or_11.png"></div>-->
                            
                        </div>        
                       
                     </div>  
                    </li>
                </ul>
            </div>
            <div id="btn">
            <a class="prev" href="javascript:;"><img id="index-left" src="__PUBLIC__/Home/images/nimg92_1.png"></a>
            <a class="next" href="javascript:;"><img id="index-right" src="__PUBLIC__/Home/images/nimg92_2.png"></a>
            <ul></ul>
            </div>
            </div>    
         
            <script>
           
                $(function(){
                    $("#index-content2-pic li").hover(function(){
                        $(this).find('.pic-jiantou img').attr('src','__PUBLIC__/images/sihangfu-HOME14or_11.png');
                    },function(){
                        $(this).find('.pic-jiantou img').attr('src','__PUBLIC__/images/img20.png');
                    })
                })
            </script>
          
        </div>
        <div id="index-content3">
            <div id="index-content3-title">
                <img src="./images/sihangfu-HOME003_10.png"><span id="index-span5">/&nbsp;新闻</span>
            </div>
            <div id="index-content3-l"></div>
            <div id="index-content3-ls"><img src="__PUBLIC__/Home/images/sihangfu-HOME14_15.png"></div>
            <div id="index-content3-m">
                <span id="index-span6">新闻标题公司的主营业务与工程</span><br/>
                <span id="index-span7">2016-06-15</span><br/>
                <span id="index-span8">企业正起步，创业存在许多艰难，公司愿与员工一同成长，在完成企业增值的过程中，给予员工足够的归属感，并让员工充分理解自身的价值，  与员工一起积累财富...</span>
                <div id="index-content3-img">
                    <a href="javascript;"></a>
                </div>
            </div>
            <div id="index-content3-r">
                <div class="index-content3-r1" id="index-content3-r11"><a href="">
                        <span class="index-span9"><span class="index-span11">JUY</span><br/>15</span>
                        <span class="index-span10">企业正起步，创业存在许多艰难,公司愿与<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;员工一同成长，给予员工足够的</span>
                    </a></div>
                <div class="index-content3-r1"><a href="">
                        <span class="index-span9"><span class="index-span11">JUY</span><br/>15</span>
                        <span class="index-span10">企业正起步，创业存在许多艰难，公司愿与<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;员工一同成长，给予员工足够的</span>
                    </a></div>
                <div class="index-content3-r1"><a href="">
                        <span class="index-span9"><span class="index-span11">JUY</span><br/>15</span>
                        <span class="index-span10">企业正起步，创业存在许多艰难，公司愿与<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;员工一同成长，给予员工足够的</span>
                    </a></div>
            </div>
            
            
        </div>
    </div>

<include file="Public:footer" />