<include file="Public:header" />

            <div id="search"><a href="javacsript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
        </div>
     
           
            
   
        <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="news-center">
               <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="news-center-title">最新资讯<br/>
                &nbsp; &nbsp; &nbsp;  <span>/ NEWS</span>
            </div>
        </div>
        
        <div class="news-content">
            <div class="contact-content-top">
                <div id="help-title-l">
                    <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                    首页 ><a href="news.html" style="color:#333333;">最新资讯</a> ><span style="color:#F08200;">公司新闻</span>
                </div>
                <div id="help-title-r">
                    <ul>
                        <li><a style="border-bottom:2px solid #F08200;"  href="">公司新闻</a></li>
                        <li><a  href="">行业动态</a></li>
                     

                    </ul>
                </div>
            </div>
            <div class="news-bom">
                <div class="news-bom-t">
                    <div class="news-b-l">
                        <img src="__PUBLIC__/Home/images/sihangfu-news1_05.png">
                    </div>
                    <div class="news-b-r">
                        <span class="news-span1">建筑行业+互联网权威报告&nbsp;&nbsp;<a>2016-05-12</a></span><br/>
                        <span class="news-span2">
                            2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                            《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                            将在本届峰会面向行业大咖和精英人群权威发布。2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开...
                        </span><br/>
                        <a class="news-a" href="news-content.html"></a>
                    </div>
                </div>
                <div class="news-bom-b">
                    <div class="news-bom-m">
                        <a>
                            <div class="news-bom-1">
                                <p class="news-p1">2016-06</p>
                                <p class="news-p2">15</p>
                            </div>
                            <div class="news-bom-2">
                                <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                                  <span class="news-bom2-sp2">
                                      2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                                      《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                                  </span>
                            </div>
                            <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news004_05_05.png"></div>
                        </a>
                            
                    </div>
                    <div class="news-bom-m">
                        <a>
                             <div class="news-bom-1">
                                <p class="news-p1">2016-06</p>
                                <p class="news-p2">13</p>
                            </div>
                            <div class="news-bom-2">
                                <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                                  <span class="news-bom2-sp2">
                                      2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                                      《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                                  </span>
                            </div>
                            <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news006_08.png"></div>
                        </a>
                    </div>
                    <div class="news-bom-m">
                        <a>
                             <div class="news-bom-1">
                                <p class="news-p1">2016-06</p>
                                <p class="news-p2">10</p>
                            </div>
                            <div class="news-bom-2">
                                <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                                  <span class="news-bom2-sp2">
                                      2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                                      《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                                  </span>
                            </div>
                            <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news007_11.png"></div>
                        </a>
                    </div>
                    <div class="news-bom-m">
                        <a>
                             <div class="news-bom-1">
                                <p class="news-p1">2016-06</p>
                                <p class="news-p2">10</p>
                            </div>
                            <div class="news-bom-2">
                                <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                                  <span class="news-bom2-sp2">
                                      2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                                      《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                                  </span>
                            </div>
                            <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news008_13.png"></div>
                        </a>
                    </div>
                </div>
            </div>
            
          
        </div>
        
        <div class="news-more-content">
            <div class="news-bom-m">
                <a>
                    <div class="news-bom-1">
                        <p class="news-p1">2016-06</p>
                        <p class="news-p2">10</p>
                    </div>
                    <div class="news-bom-2">
                        <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                        <span class="news-bom2-sp2">
                            2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                            《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                        </span>
                    </div>
                    <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news008_13.png"></div>
                </a>
            </div>
        </div>
        <div class="news-more">MORE</div>
<!--        <div class="news-more-content">
            <div class="news-bom-m">
                <a>
                    <div class="news-bom-1">
                        <p class="news-p1">2016-06</p>
                        <p class="news-p2">10</p>
                    </div>
                    <div class="news-bom-2">
                        <span class="news-bom2-sp1">建筑行业+互联网权威报告 解读建筑施工行业信息化应用新模式</span><br/>
                        <span class="news-bom2-sp2">
                            2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                            《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                        </span>
                    </div>
                    <div class="news-bom-3"><img src="__PUBLIC__/Home/images/sihangfu-news008_13.png"></div>
                </a>
            </div>
        </div>-->
        <div class="news-top"><a href="#"><img src="__PUBLIC__/Home/images/sihangfu-product-top_03.png"></a></div>
        <script>
           $(".news-more").click(function(){
               $(".news-more-content").slideToggle("fast");
           })
        </script>










        <include file="Public:footer" />