<include file="Public:header" />
            <div id="search"><a href="javascript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
        </div>
       
         
            
  
        <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="news-center">
                 <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="news-center-title">最新资讯<br/>
                &nbsp; &nbsp; &nbsp;  <span>/ NEWS</span>
            </div>
        </div>
        
        <div class="news-detial-content">
            <div class="contact-content-top">
                <div id="help-title-l">
                    <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                    首页 ><a href="news.html" style="color:#333333;">最新资讯</a> ><span style="color:#F08200;">公司新闻</span>
                </div>
                <div id="help-title-r">
                    <ul>
                        <li><a style="border-bottom:2px solid #F08200;"  href="">公司新闻</a></li>
                        <li><a  href="">行业动态</a></li>
                     

                    </ul>
                </div>
            </div>
            
            <div class="news-detail">
                <div class="news-detail-t">
                     <span class="news-detail-sp1">建筑行业+互联网权威报告 </span><br/>
                     <span class="news-detail-sp2">发布时间：2016-05-12 </span>
                    
                </div>
                <div class="news-detail-b">
                    <span class="detail-wenzi1">
                        2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开。
                        《中国建筑施工行业信息化发展报告（2016）互联网应用与发展》将在本届峰会面向行业大咖和精英人群权威发布。
                        2016中国建设行业年度峰会将于6月16日在中国深圳隆重召开... 
                    </span><br/>
                    <img src="__PUBLIC__/Home/images/sihangfu-news-content_03.png"><br/>
                    <span class="detial-wenzi2">
                        作为建筑产业互联网平台服务商，立足建设工程领域，从2008年以来陆续设立国际化BIM研发团队，并于2009年成立广联达BIM中心。
                        以自主技术及全面BIM应用产品开启了轻量化BIM应用新时代。所为轻量化BIM应用，就是通过岗位级的BIM工具，获得初始模型和数据信息。
                        再将模型集成到项目级BIM平台上，通过虚拟建造和现场可视化管控结合，实现精细化管理。最终企业管理层再对所有项目进行整体把控，实现企业的信息化管理。
                        广联达BIM提出的轻量化BIM致力于做到让用户从选择到决定，从学习到学会，从应用到收效的完整流程更加快速，轻松，高效。
                    </span><br/>
                    <span class="detial-wenzi3">
                        本次公司的交流访问增强了江西省建设厅对现阶段BIM技术应用的了解，有助于相关政策、BIM技术应用规划方案的制定。
                        同时，表示将与有关部门密切交流、听取建议，并长期致力于对BIM技术应用的研发、深化，为使用者搭建更为有效的建造信息化平台而努力。
                    </span>
                </div>
                
            </div>
          
        </div>
        <div class="detail-page">
            <a class="detail-prev">上一篇：上海BIM技术创新联盟副理事长单位</a>
            <a class="detail-next">下一篇：上海BIM技术创新联盟副理事长单位</a>
        </div>
      
        <script>
           $(".news-more").click(function(){
               $(".news-more-content").slideToggle("slow");
           })
        </script>
        
        
        
        
        
        
        
        
        
        
        
               <div class="clear"></div> 
        <div class="footer">
           <div class="footer-top">
            <div class="footer-t">
             <div class="footer-top-l">
                 <ul>
                        <li id="footer-li">上海斯涵福信息科技有限公司</li>
                        <li>电话：021-50663326</li>
                        <li>邮箱：company@sihanfu.com</li>
                        <li>地址：上海市杨浦区国康路100号上海国际设计中心西楼1504室</li>
                    </ul>
             </div>
             <div class="footer-top-cen"></div>
             <div class="footer-top-r">
                <img src="__PUBLIC__/Home/images/sihangfu-HOME13_19.png">

                    <img src="__PUBLIC__/Home/images/sihangfu-HOME012_28.png"><br/>
                    <span class="index-span12">扫一扫关注公众号</span><br/>
                    <span id="index-span11">扫一扫关注产品</span>
                </div>
             <a href="javascript:;"> <img id="footer-img1" src="__PUBLIC__/Home/images/sihangfu-HOME013_30.png"></a>
             <a href="javascript:;"> <img id="footer-img2" src="__PUBLIC__/Home/images/sihangfu-HOME014_30.png"></a>
         </div>
           
    </div>
             <div class="clear">  </div>
           <div class="footer-bom">
         <div class="footer-bom-w"> © 上海斯涵福信息科技有限公司　版权所有　　沪ICP备11022418号-1</div>
        </div>
        </div>
    </body>
</html>
