<include file="Public:header" />

            <div id="search"><a href="javascript:;"><img src="__PUBLIC__/Home/images/sihangfu-HOME4_05.png"></a> </div>
        </div>
        <div class="product-center">
               <div class="search-k"><input type="text" name="name"  placeholder="&nbsp;&nbsp;请输入关键字"></div>
            <div class="product-Div">
                产品中心<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="product-span">/ PRODUCT</span>
            </div>
        </div>
       
           
            
 
         <script>
            $("#search").click(function(){
                $(".search-k input").slideToggle("fast");
            })
            
        </script>
        <div class="product-content">
            <div class="product-content-title">
                <div class="product-content-l">
                     <img src="__PUBLIC__/Home/images/sihangfu-help03_05.png" align="center">
                     首页 ><a href="product.html" style="color:#333333;">产品中心</a> ><span style="color:#F08200;">产品介绍</span>
                </div>
                <div class="product-content-r"><a>产品介绍</a></div>
            </div>
        </div>
        <div class="product-wenzi">
            <div class="wenzi-left">
                <div class="product-wenzi1">
                    <p class="wenzi-title">斯涵福BIM服务</p>
                    <p class="wenzi-content">BIM作为一种工程信息BIM作为一种工程信息。</p>
                    <p class="wenzi-content">
                        BIM作为一种工程信息化的手段，能够帮助工程行业从粗放式的管理向精细化转变，从而带来更大的经济效益，并且减少浪费对环境保护亦起着积极的作用。
                        BIM将工程信息化，赋予了实体构件以虚拟数字资产，这与国家推进的智慧城市不谋而合，让数字城市有了与实物对应的信息载体。
                        点点星火必将引起燎原之势，BIM必将在工程行业中得到普及。
                    </p>
                </div>
                <div class="product-wenzi2">
                    <img src="__PUBLIC__/Home/images/sihangfu-product1_05.png">
                </div>
                <div class="product-wenzi3">
                    <p class="wenzi-title">BIM服务主要的四个方面</p>
                </div>
                <div class="product-wenzi4">
                    <p class="wenzi-title2">一、辅助设计：</p>
                    <p class="wenzi-content">
                        1.配合优化前期站位方案：
                        通过三维展示车站及周边市政管线的相对关系，提前对重大影响管线进行预警，制定相关方案措施，尽可能规避相关风险，
                        同时，可以提前分析管线搬迁的可行性。
                    </p>
                    <p class="wenzi-content">
                        2.道路翻交管线搬迁模拟：将线路以及站位与周边建筑、地形、市政设施进行协调，稳定规划方案。
                          对前期方案的深度和广度提出了非常高的要求。
                          深入的前期工作将达到事半功倍的效果。
                    </p>
                    <p class="wenzi-content">3.管线综合优化：通过检查相关错漏碰缺并对设计效果进行确认，提高设计质量。</p>
                    <p class="wenzi-content">4.系统综合：BIM为各专业的 接口和界面管理提供了非常直观和便利的条件；接口和界面管理是复杂多系统工程设计管理的关键。</p>
                    <p class="wenzi-content">5.建造效果预览：真实反映项目的建成效果，利于审核人员直观、快速地掌握整个项目，提高项目审批的效率。</p>
                    <br>
                    <p class="wenzi-title2">二、工程量计算：</p>
                    <p class="wenzi-content">1.需求方：</p>
                    <p class="wenzi-content">2.工程算量工作流程：BIM建模一般流程工程算量建模需要比其他BIM应用的建模精度、细度、准度要求均相对要高很多。</p>
                    <p class="wenzi-content">3.招标配合:通过对模型内的构件进行清单开项，可以导出符合《GB50500》规范要求的工程量清单，同时，可以对相关工程量进行复核。</p>
                    <p class="wenzi-content">4.工程界面划分:通过BIM可以让相邻工程的造价协调工作更加直观、便捷。</p>
                     <p class="wenzi-content">5.专项施工工程量计算:通过BIM对专项施工工艺进行模拟施工，以确认实际工程量和造价。</p>
                </div>
                  <div class="product-more-content">
                    <p class="wenzi-title2">三、多维度模拟:</p>
                    <p class="wenzi-content">1.施工进度表现:根据施工单位提供的进度情况，通过颜色区分，直观展示工程现状。</p>
                    <p class="wenzi-content">2.施工方案模拟表现:根据相关施工方案，进行4D模拟，检验施工方案的可行性。便于及时调整，及相关单位相互协调。</p>
                    <p class="wenzi-content">3.安装及装修施工模拟(4D):将相关机电装修进度计划与模型相结合，进行4D模拟，直观展示机电安装及装修流程。</p>
                    <p class="wenzi-content">4.大型设备运输路径模拟:根据相关运输路径，模拟大型设备运输工况，直观检查相关关键控制界面，检验运输路径的可行性。</p>
                    <p class="wenzi-content">5.里程碑节点计划模拟(4D):串联割裂的project计划，形象展示线路上各节点的计划安排，并及时调整。</p>
                    <p class="wenzi-content">6.结合工程量的进度模拟(5D):在4D应用的基础上，加上相关工程量的导出，再和施工单位配合，输入相关人、机信息。实现了工程施工的5D模拟，更全面直观地展示工程的建设进程，精细化施工提供全面的指导。</p>
                    <p class="wenzi-content">7.装修效果展示:BIM模型结合其他后处理软件，可以做出符合不同需求的模拟效果。</p>
                    
                    <br/>
                      <p class="wenzi-title2">四、运营与维护:</p>
                    <p class="wenzi-content">1.竣工交付运维模型:竣工模型与现实保持一致，把握项目移交后的运维质量。将设备信息包括资产编码、规格、供应商、保修期等等信息与构件关联，实现用BIM协助资产管理。</p>
                    <p class="wenzi-content">2.资料与构件关联:将竣工图纸、维保手册等信息与构件关联，为BIM化运维打下基础。</p>
                   
                  
            </div>
                <div class="product-more">MORE</div>
               
            </div>
           
            <div class="wenzi-right">
               <div class="wenzi-right-top">
                   <div class="wenzi-right1"><a class="wenzi-right-a1"><span style="position:relative;left:90px;top:5px;">斯涵福BIM服务</span></a></div>
                   <div class="wenzi-right2"><a class="wenzi-right-a2"><span style="position:relative;left:30px;top:5px;">瓴易-综合监测信息平台</span> </a></div>
                   
               </div>
               <div class="wenzi-right-bottom">
                   <div class="product-img1"><a href="javascript:;"></a></div>
                   <div class="product-img2"><a href="javascript:;"></a></div>
               </div>
            </div>
            
        </div>
        <div class="clear"></div>
<!--         <div class="product-more-content">
                    <p class="wenzi-title2">三、多维度模拟:</p>
                    <p class="wenzi-content">1.施工进度表现:根据施工单位提供的进度情况，通过颜色区分，直观展示工程现状。</p>
                    <p class="wenzi-content">2.施工方案模拟表现:根据相关施工方案，进行4D模拟，检验施工方案的可行性。便于及时调整，及相关单位相互协调。</p>
                    <p class="wenzi-content">3.安装及装修施工模拟(4D):将相关机电装修进度计划与模型相结合，进行4D模拟，直观展示机电安装及装修流程。</p>
                    <p class="wenzi-content">4.大型设备运输路径模拟:根据相关运输路径，模拟大型设备运输工况，直观检查相关关键控制界面，检验运输路径的可行性。</p>
                    <p class="wenzi-content">5.里程碑节点计划模拟(4D):串联割裂的project计划，形象展示线路上各节点的计划安排，并及时调整。</p>
                    <p class="wenzi-content">6.结合工程量的进度模拟(5D):在4D应用的基础上，加上相关工程量的导出，再和施工单位配合，输入相关人、机信息。实现了工程施工的5D模拟，更全面直观地展示工程的建设进程，精细化施工提供全面的指导。</p>
                    <p class="wenzi-content">7.装修效果展示:BIM模型结合其他后处理软件，可以做出符合不同需求的模拟效果。</p>
                    
                    <br/>
                      <p class="wenzi-title2">四、运营与维护:</p>
                    <p class="wenzi-content">1.竣工交付运维模型:竣工模型与现实保持一致，把握项目移交后的运维质量。将设备信息包括资产编码、规格、供应商、保修期等等信息与构件关联，实现用BIM协助资产管理。</p>
                    <p class="wenzi-content">2.资料与构件关联:将竣工图纸、维保手册等信息与构件关联，为BIM化运维打下基础。</p>
                   
                  
            </div>-->
        <div class="product-top"><a href="#"><img src="__PUBLIC__/Home/images/sihangfu-product-top_03.png"></a></div>
            <script>
                $(".product-more").click(function(){
                    $(".product-more-content").slideToggle("slow");
                });
               
                
                
            </script>
        <include file="Public:footer" />